:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #202124;
  background-color: #f3f5f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}
