VITE_MAPBOX_ACCESS_TOKEN=
VITE_API_BASE_URL=http://localhost:8787


# Firebase Client config for AgentsFeed.tsx
VITE_FIREBASE_API_KEY="AIzaSyBTsbTPTKbXZdRNtuAUgInQz35vQfDlM_g"
VITE_FIREBASE_AUTH_DOMAIN="disaster-reporting-93f13.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="disaster-reporting-93f13"
VITE_FIREBASE_STORAGE_BUCKET="disaster-reporting-93f13.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="137456741034"
VITE_FIREBASE_APP_ID="1:137456741034:web:99ee7802301035f3f07ed3"

# Cloudflare Turnstile Site Key for VerificationPanel
VITE_CLOUDFLARE_SITE_KEY=